/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  color: black;
}
h3 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  color: black;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: center;
  color: black;
}

/* The div container constrains the content width within the main container to 600px */
div {
  text-align: center;
  margin: auto;
  width: 600px;

}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid #003049
  ;
}

hr {
  border: 2px solid black;
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}
ol.center-list{
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}
/* Add your solution below */

.image-circle { 
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

a:link {
  color: #d62828;
}

a:visited {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

a:active {
  color: #d62828;
}